<html>
<body>
<head>
</head>
<div id="header">
</div>
<div id="content">
   <h1 style="text-align:center;">500 Internal Server Error</h1>
   <div>${errorMessage}</div>
</div>
</body>
</html>