<html>
<body>
<head>
  <script>
  $(document).ready(function() {
	  /*
 		$.ajax( {
			url:"/service/sample/json/internalError",
			dataType: "json",
			beforeSend: function(xhr) {
				xhr.setRequestHeader("X-XHR-REQUESTER-NAME","__SANNGHYUN_AJAX__"); //서버에서 ajax통신중 발생하는 오류를 인식하기 위해
			},
			success: function(data) {
				alert("success" + data);
			},
			error: function(xhr) {
				alert("fail");
			}
		});
 		*/
 		
  }); 
       
  </script>
</head>
<div id="header">
  <h2>JSON SAMPLE PAGE</h2>
</div>
<div id="content">
  
    
</div>
</body>
</html>