<html>
<body>
<head>
  <!-- <script src="/resources/js/ftlEmployee.js"></script> -->
  <script>
       
  </script>
</head>
<div id="header">
  <h2>File Upload Sample Page</h2>
  <hr>
</div>
<div id="content">
<form method="POST"  action="/spring/service/sample/upload/uploadFile"  enctype="multipart/form-data">
    <table>
        <tr>
            <td>Select a file to upload</td>
            <td><input type="file" name="file" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>

 
</div>
</body>
</html>