<html>
<body>
<head>
  <script src="http://gw.sanghyun.com:8080/resources/js/ftlEmployee.js"></script>
  <!-- <script src="/resources/js/ftlEmployee.js"></script> -->
  <script>
        alert("I'm javascript which is in the html");
		$.ajax( {
			url:"http://gw.sanghyun.com:8080/cross/forward?forwardUrl=/resources/json/employee.json",
			dataType: "json",
			success: function(data) {
				alert("success" + data);
			},
			error: function(xhr) {
				alert("fail");
			}
		});
       
  </script>
</head>
<div id="header">
  <h2>FreeMarker Spring MVC Hello World</h2>
</div>
<div id="content">
  <img src="http://gw.sanghyun.com:8080/resources/img/lee.png">
</div>
</body>
</html>